@using System.Text.Json
@using Microsoft.EntityFrameworkCore
@{
    var bgDb = Context.RequestServices.GetService(typeof(SideSeat.Data.SideSeatDbContext)) as SideSeat.Data.SideSeatDbContext;
    var bgRoutesJson = "[]";
    if (bgDb is not null)
    {
        var rawRoutes = bgDb.Voznje
            .AsNoTracking()
            .Where(v => v.Status == SideSeat.Models.StatusVoznje.Planirana
                && v.SlobodnaMjesta > 0
                && v.PolazniGrad.Latitude != null && v.PolazniGrad.Longitude != null
                && v.OdredisniGrad.Latitude != null && v.OdredisniGrad.Longitude != null
                && v.PolazniGradId != v.OdredisniGradId)
            .OrderByDescending(v => v.Polazak)
            .Select(v => new
            {
                v.PolazniGradId,
                v.OdredisniGradId,
                StartName = v.PolazniGrad.Naziv,
                StartLat = v.PolazniGrad.Latitude,
                StartLng = v.PolazniGrad.Longitude,
                EndName = v.OdredisniGrad.Naziv,
                EndLat = v.OdredisniGrad.Latitude,
                EndLng = v.OdredisniGrad.Longitude
            })
            .Take(80)
            .ToList();

        var distinct = rawRoutes
            .GroupBy(r => r.PolazniGradId <= r.OdredisniGradId
                ? (Low: r.PolazniGradId, High: r.OdredisniGradId)
                : (Low: r.OdredisniGradId, High: r.PolazniGradId))
            .Select(g => g.First())
            .Take(7)
            .Select(r => new
            {
                startName = r.StartName,
                startLat = r.StartLat,
                startLng = r.StartLng,
                endName = r.EndName,
                endLat = r.EndLat,
                endLng = r.EndLng
            })
            .ToList();

        bgRoutesJson = JsonSerializer.Serialize(distinct);
    }
}
<div class="ss-route-bg" aria-hidden="true" data-ss-route-bg>
    <div class="ss-route-bg-map" data-ss-route-bg-map></div>
    <script type="application/json" data-ss-route-bg-data>@Html.Raw(bgRoutesJson)</script>
</div>
